.specialist-card {
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
    background-color: white !important;

}

.specialist-card:hover {
    background-color: white !important;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Reflejo utilizando pseudo-elemento */
.specialist-card::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    height: 80px;
    background: white;
    opacity: 0.3;
    transform: scaleY(1);
    /* Invierte el reflejo */
    border-radius: inherit;
    z-index: -1;
    /* El reflejo está por debajo */
    pointer-events: none;
    /* El reflejo no interfiere con los clicks */
}

.avt {
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid #3ba5a8;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    /* Smooth transition */
}

.avt:hover {
    transform: translateY(4px) scale(1.05);
    /* Move down and enlarge */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Reduced shadow when pressed */
}



.details {
    display: none;
    /* Initially hide the details */
}

.professional-card:hover .details {
    display: block;
    /* Show details when hovering over the card */
}

.professional-card {
    position: relative;
}

.trash-btn {
    position: absolute;
    top: -25px;
    right: -25px;
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 25px;
}

.professional-card:hover .trash-btn {
    display: block;
}

.avt {
    transition: transform 0.2s;
}

.professional-card:hover .avt {
    transform: scale(1.05);
}

.padding-right-mobile {
    padding-right: 32px !important;
}

.personalizedAlerts {
    font-size: 20px !important;
}