<header class="header header-fixed shadow">
    <div class="header-content">
        <div class="left-content">
            <a (click)="global.setRoute('messages')" >
                <i class="icon feather icon-chevron-left"></i>
            </a>
            <div class="media rounded-circle">
                <div class="media-40 me-3">
                    <img src="assets/images/avatar/chat/1.png" alt="/">
                </div>
                <div>
                    <h6 class="title">Emily Johnson</h6>
                    <div class="font-12 active-status"><span class="dot"></span>Online</div>
                </div>
            </div>
        </div>
        <div class="mid-content">
        </div>
        <div class="right-content">
            <a href="javascript:void(0);" class="dz-icon style-2 bg-success rounded-lg">
                <i class="fi fi-rr-phone-call font-20 text-white"></i>
            </a>
        </div>
    </div>
</header>
<!-- Header -->

<!-- Main Content Start -->
<main class="page-content space-top p-b60">
    <div class="container">
        <div class="chat-box-area">
            <span class="active-date">27 Dec 2023</span>
            <div class="chat-content">
                <div class="message-item">
                    <div class="media align-items-end gap-2">
                        <div class="dz-media m-b25">
                            <img class="rounded-circle" src="assets/images/avatar/avatar-sm/1.png" alt="">
                        </div>
                        <div>
                            <div class="bubble">Good morning!</div>    
                            <div class="bubble"> I'm looking for a new laptop</div>     
                            <div class="message-time">10:30 am</div>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-content user">
                <div class="message-item">
                    <div class="bubble">Good morning!</div>    
                    <div class="bubble">Of course, we have a great selection of laptops.</div>     
                    <div class="message-time">10:30 am</div>    
                </div>
            </div>
            <div class="chat-content">
                <div class="message-item">
                    <div class="media align-items-end gap-2">
                        <div class="dz-media m-b25">
                            <img class="rounded-circle" src="assets/images/avatar/avatar-sm/1.png" alt="">
                        </div>
                        <div>
                            <div class="bubble">I'll mainly use it for work, so something with good processing power and a comfortable keyboard is essential.</div>    
                            <div class="message-time">10:30 am</div>    
                        </div>
                    </div>
                </div>
            </div>
            <span class="active-date">Today</span>
            <div class="chat-content user">
                <div class="message-item">
                    <div class="bubble"> Got it!</div>    
                    <div class="bubble">We have several options that would suit your needs. Let me show you a few models that match your criteria.</div>     
                    <div class="message-time">10:30 am</div>    
                </div>
            </div>
            <div class="chat-content">
                <div class="message-item">
                    <div class="media align-items-end gap-2">
                        <div class="dz-media m-b25">
                            <img class="rounded-circle" src="assets/images/avatar/avatar-sm/1.png" alt="">
                        </div>
                        <div>
                            <div class="bubble">I'm looking to spend around $800 to $1,000.</div>    
                            <div class="message-time">10:30 am</div>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-content user">
                <div class="message-item">
                    <div class="bubble">That's a good budget. I'll show you a few options within that range. Are you interested in Windows or Mac laptops?</div>     
                    <div class="message-time">10:30 am</div>    
                </div>
            </div>
        </div>
    </div>
</main>