<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="pt-4">
                    <h6>Web Requests </h6>
                    <div class="list-group">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Mensaje</th>
                                    <th>Nombre</th>
                                    <th>Tipo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of requestsWebs">
                                    <td>{{item.email}}</td>
                                    <td>{{item.howDid}}</td>
                                    <td>{{item.name}}</td>
                                    <td>
                                        <span class="badge" [ngClass]="{
                                            'badge-primary': item.typeRegister === 'tutor',
                                            'badge-success': item.typeRegister === 'especialista',
                                            'badge-warning': item.typeRegister === 'peluqueria canina',
                                            'badge-info': item.typeRegister === 'veterinaria'
                                        }">
                                            {{item.typeRegister}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>