<main class="page-content space-top p-b60">
    <div class="container pt-20 pb-20">
        <app-banner></app-banner>
        <app-categories [hidden]="configService.showServices"></app-categories>
        <div class="dz-box style-2" style="padding-top: 0px !important;">
            <div class="title-bar">
                <h5 class="title mb-0">Clínicas recomendadas</h5>
                <ul class="dz-tab nav nav-pills light style-1 list" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="list" data-bs-toggle="pill" data-bs-target="#pills-list"
                            type="button" role="tab" aria-controls="pills-list" aria-selected="true"
                            (click)="toggleView('list')">
                            <i class="icon feather icon-list"></i>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="grid" data-bs-toggle="pill" data-bs-target="#pills-grid"
                            type="button" role="tab" aria-controls="pills-grid" aria-selected="false" tabindex="-1"
                            (click)="toggleView('grid')">
                            <i class="icon feather icon-grid"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-12 m-b35" [ngClass]="{
                    'col-12': isListView, 
                    'col-6': !isListView && !auth.isAdmin(), 
                    'col-lg-3': !auth.isAdmin(),
                    'col-lg-2': auth.isAdmin()
                }" *ngFor="let specialist of global.specialists | filterSpecialists:auth.isAdmin()">
                    <div class="dz-card style-2 specialist-card" style="cursor: pointer;">
                        <div class="dz-media" (click)="global.viewClinic(specialist)">
                            <a class="image-container">
                                <div class="dz-media">
                                    <img [src]="specialist.images?.[0] ?? 'https://static.vecteezy.com/system/resources/previews/013/149/674/non_2x/unavailable-image-icon-in-trendy-flat-style-isolated-on-white-background-photo-gallery-symbol-for-web-and-mobile-apps-free-vector.jpg'"
                                        alt="image" class="responsive-image image-square">
                                    <a class="item-bookmark style-2 hover-heart" (click)="mostrarFavorito($event, specialist.id)">
                                        <i class="feather icon-heart-on"></i>
                                    </a>
                                </div>
                            </a>
                        </div>
                        <div class="dz-content">
                            <ul class="dz-top-meta mb-2 particular">
                                <span class="brand-tag">
                                    <h4 class="title uppercase">{{specialist.full_name}}</h4>
                                </span>
                                <li class="dz-review">
                                    <i class="feather icon-star-on star"></i>
                                    <span class="r-rating">4.5</span>
                                    <span class="r-status">(470)</span>
                                </li>
                            </ul>
                            <div *ngIf="auth.isAdmin()" class="form-check form-switch">
                                <input class="form-check-input form-check-success" id="flexSwitchCheckDefault"
                                    type="checkbox" [checked]="specialist.status === 'approved'"
                                    (change)="global.toggleSpecialistStatus(specialist)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>