<main class="page-content space-top">
    <div class="container pb-0">
        <div class="chat-list">
            <ul>
                <li>
                    <a style="cursor: pointer;" class="list-items active" (click)="global.setRoute('chat')">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/2.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Emily Johnson</h5>
                            <span class="dz-text">Text me!</span>
                        </div>
                        <div class="dz-status">Fri</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items active" (click)="global.setRoute('chat')">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/1.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Michael Anderson</h5>
                            <span class="dz-text">Call me back.</span>
                        </div>
                        <div class="dz-status">Mon</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/3.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Olivia Davis</h5>
                            <span class="dz-text">I got you bro!!</span>
                        </div>
                        <div class="dz-status">2 Hours</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items active" (click)="global.setRoute('chat')">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/4.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Daniel Wilson</h5>
                            <span class="dz-text">Haha, i hit you up</span>
                        </div>
                        <div class="dz-status">2 Min</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/1.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Sophia Martinez</h5>
                            <span class="dz-text">Call me back!</span>
                        </div>
                        <div class="dz-status">Sun</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/2.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">William Thompson</h5>
                            <span class="dz-text">Text me!</span>
                        </div>
                        <div class="dz-status">7 Aug 2023</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/2.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Ava Hernandez</h5>
                            <span class="dz-text">Haha, i hit you up</span>
                        </div>
                        <div class="dz-status">Tus</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/4.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">James White</h5>
                            <span class="dz-text">I got you bro!</span>
                        </div>
                        <div class="dz-status">Mon</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items active" (click)="global.setRoute('chat')">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/3.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Mia Rodriguez</h5>
                            <span class="dz-text">Text me!</span>
                        </div>
                        <div class="dz-status">Tus</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items active" (click)="global.setRoute('chat')">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/2.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Benjamin Clark</h5>
                            <span class="dz-text">Text me!</span>
                        </div>
                        <div class="dz-status">Fri</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items active" (click)="global.setRoute('chat')">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/1.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Michael Anderson</h5>
                            <span class="dz-text">Call me back.</span>
                        </div>
                        <div class="dz-status">Mon</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/3.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Olivia Davis</h5>
                            <span class="dz-text">I got you bro!!</span>
                        </div>
                        <div class="dz-status">2 Hours</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items active" (click)="global.setRoute('chat')">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/4.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Daniel Wilson</h5>
                            <span class="dz-text">Haha, i hit you up</span>
                        </div>
                        <div class="dz-status">2 Min</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/1.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Sophia Martinez</h5>
                            <span class="dz-text">Call me back!</span>
                        </div>
                        <div class="dz-status">Sun</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/2.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">William Thompson</h5>
                            <span class="dz-text">Text me!</span>
                        </div>
                        <div class="dz-status">7 Aug 2023</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/2.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Ava Hernandez</h5>
                            <span class="dz-text">Haha, i hit you up</span>
                        </div>
                        <div class="dz-status">Tus</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/4.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">James White</h5>
                            <span class="dz-text">I got you bro!</span>
                        </div>
                        <div class="dz-status">Mon</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items active" (click)="global.setRoute('chat')">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/3.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Mia Rodriguez</h5>
                            <span class="dz-text">Text me!</span>
                        </div>
                        <div class="dz-status">Tus</div>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" class="list-items active" (click)="global.setRoute('chat')">	
                        <div class="dz-media m-r10">
                            <img src="assets/images/avatar/chat/2.png" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Benjamin Clark</h5>
                            <span class="dz-text">Text me!</span>
                        </div>
                        <div class="dz-status">Fri</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>