.hover-effect:hover {
    color: #453F85; !important;
    background-color: #f0f0f0; /* Cambia este color según tus necesidades */
}
.list-icon i:hover {
    color: #453F85; !important;
}
.dz-inner .title:hover {
    color: #453F85; !important;
}
.item-link:hover{
    color: #453F85; !important;

}
.scrollable-area {
    max-height: 600px; /* Ajusta este valor según sea necesario */
    overflow-y: auto;
    display: block; /* Asegúrate de que el contenedor sea un bloque */
}   