<div class="dz-banner " *ngIf="isMobile">
    <div class="swiper banner-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="inner-banner">
                    <div class="left-content">
                        <h4 class="title" data-swiper-parallax="-300">Prioridad a tu bienestar, donde quiera que
                            estés.</h4>
                        <p data-swiper-parallax="-100"><span class="text-success"></span> </p>
                        <div class="input-group input-group-icon input-sm">
                            <span class="input-group-text">
                                <div class="input-icon">
                                    <i class="feather icon-search opacity-100"></i>
                                </div>
                            </span>
                            <input type="search" class="form-control font-16"
                               placeholder="Buscar">
                        </div>
                    </div>
                    <div class="right-content">
                        <div class="dz-media">
                            <img src="assets/images/banner.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner-banner">
                    <div class="left-content">
                        <h4 class="title" data-swiper-parallax="-300">Prioridad a tu bienestar, donde quiera que
                            estés.</h4>
                        <p data-swiper-parallax="-100"><span class="text-success"></span> </p>
                        <div class="input-group input-group-icon input-sm">
                            <span class="input-group-text">
                                <div class="input-icon">
                                    <i class="feather icon-search opacity-100"></i>
                                </div>
                            </span>
                            <input type="search" class="form-control font-16"
                               placeholder="Buscar">
                        </div>
                    </div>
                    <div class="right-content">
                        <div class="dz-media">
                            <img src="assets/images/banner3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>       