.hover-effect {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.hover-effect:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    transform: translateY(-2px); /* Elevación ligera */
}
.navTitle{
    padding: 10px !important;
}